.favorite {
    padding: 0;
    list-style: none;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:10px;
}

.favorite li {
    margin: 10px 0;
    padding: 10px;
    background:white;
    border-radius: 5px;
    color:black;
    display:flex;
    align-items: center;
    width:50%;
    justify-items: center;
}